<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('include/head'); %>
  </head>
  <body>
    <%- include('include/header'); %> <%-
    include('include/dams-projects-intro'); %> <%-
    include('include/dams-projects-form'); %> <%- include('include/footer'); %>
  </body>
</html>
