<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('include/head'); %>
  </head>
  <body>
    <%- include('include/header'); %>
    <div class="l-container pt-2">
      <h2><%= mail.subject %> Sent</h2>

      <p>
        Your request has been submitted. Please allow up to a week for
        processing by our staff.
      </p>

      <hr />

      <h3>Summary of your request:</h3>

      <h4><%= mail.subject %></h4>

      <pre><%= mail.text %></pre>

      <hr />
      <h2>Reminder:</h2>
      <h3>Locker Rules</h3>
      <ol class="default">
        <li>
          All lockers are inspected regularly by Library Security Staff. Your
          assigned library lock must remain on your locker at all times. No
          other lock may be used to secure your locker. If the lock is lost or
          damaged, you will be billed for the replacement cost.
        </li>
        <li>
          Library materials kept in lockers must be checked out to the occupant.
          Materials not checked out will be removed from the locker and
          re-shelved. Library security guards inspect lockers regularly. Failure
          to comply may result in forfeiture of the locker.
        </li>
        <li>
          Lockers must be vacated at the last day of the quarter; items that
          remain in the lockers after the deadline will be removed and placed in
          the library lost and found.
        </li>
        <li>
          <strong>NO FOOD OR DRINK IS ALLOWED IN YOUR ASSIGNED LOCKER.</strong>
        </li>
      </ol>

      <p><a href="/lockers">Return to Form</a></p>
    </div>
    <%- include('include/footer'); %>
  </body>
</html>
